/*body{
    background-color: blueviolet;
}
*/


.carpimage{
    width: 300px;
    height: 400px;
}


/*Type Task*/

.typeimage{
    width: 300px;
}


.type-task-section{
    background-color: royalblue;
}

.type-container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

button{
    border: 1px solid rgb(102, 19, 180);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: rgb(24, 194, 216);
    color: rgb(226, 17, 17);
}

button:active {
    background-color: blueviolet;
    box-shadow: 0 5px purple;
    transform: translateY(4px);
}