body{
    background-color: blueviolet ;
}

.mainimage{
    width: 500px;
    padding: 20px;
}

.carpimage{
    width: 300px;
}

.subtitle{
    text-align: center;
    color: white;
    font-size: 30px;
}

.subheading{
    color: white;
    font-size: 20px;
}

.middleimage{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerimages{
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}