body{
    background-color: royalblue;
}

.subtitle{
    text-align: center;
    color: white;
    font-size: 30px;
}

.axial{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.bilateral-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.dil-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.grid-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.modular-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.rad-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.random-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.t-section{
    height: 500px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

.space{
    height: 200px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
}

/*.axialfloat{
    float: left;
}*/

.media-section{
    padding-left: 20px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediacontent{
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    text-align: left;
}

.media-section-right{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 20px;
}

.mediacontent-right{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
    text-align: left
}

.typeimage{
    width: 400px;
    padding: 15px;
}